<body>
  <div class='hero'>
  <br/>
    <div class='frosty col-10 offset-1 text-center'>
      <br/>
      <h1>line 1</h1>
      <br/>
      <h2>line 2</h2>
      <br/>
      <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
      <br/><br/>
    </div>
  </div>
  <br/>

  <div class="row feature text-center">
    <div class="col-12 col-sm">
      <h3>Amazing Photos</h3>
      <br/>
      <p>Check out beautiful shots and short films by independent artists.</p>
    </div>
    <div class="col-12 col-sm">
      <h3>Hire a Photographer</h3>
      <br/>
      <p>If you like someone's work, consider getting in touch to collaborate on a project.</p>
    </div>
    <div class="col-12 col-sm">
      <h3>Join our Community</h3>
      <br/>
      <p>Be part of a community of creative artists and start your own portfolio.</p>
    </div>
  </div>
</body>



















