<body>
  <div class='hero'>
  <br/>
    <div class='frosty col-10 offset-1 text-center'>
      <br/>
      <h1>Explore and Grow Your Professional Skillset</h1>
      <br/>
      <h2>Technical Skills Courses from Professionals</h2>
      <br/>
      <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
      <br/><br/>
    </div>
  </div>
  <br/>

  <div class="row feature text-center">
    <div class="col-12 col-sm">
      <h3>Amazing Courses</h3>
      <br/>
      <p>Check out our step-by-step video courses.</p>
    </div>
    <div class="col-12 col-sm">
      <h3>Sign Up for a Course</h3>
      <br/>
      <p>Learn something new and explore your creative side.</p>
    </div>
    <div class="col-12 col-sm">
      <h3>Join our Community</h3>
      <br/>
      <p>Be a part of our community of avid learners.</p>
    </div>
  </div>
</body>



















