<body>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Pixter</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <li class="nav-item active">
        <a class="nav-link disabled" href="#">Sign Up <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Sign In</a>
      </li>
    </ul>
  </div>
</nav>

<div class='hero'>
<br/>
  <div class='frosty col-10 offset-1 text-center'>
    <br/>
    <h1>line 1</h1>
    <br/>
    <h2>line 2</h2>
    <br/>
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br/><br/>
  </div>
</div>

</body>