<body>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Pixter</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <li class="nav-item active">
        <a class="nav-link disabled" href="#">See all Courses</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link disabled" href="#">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Sign In</a>
      </li>
    </ul>
  </div>
</nav>

<div class='hero'>
<br/>
  <div class='frosty col-10 offset-1 text-center'>
    <br/>
    <h1>line 1</h1>
    <br/>
    <h2>line 2</h2>
    <br/>
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br/><br/>
  </div>
</div>
<br/>

<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Amazing Photos</h3>
    <br/>
    <p>Check out beautiful shots and short films by independent artists.</p>
  </div>
  <div class="col-12 col-sm">
    <h3>Hire a Photographer</h3>
    <br/>
    <p>If you like someone's work, consider getting in touch to collaborate on a project.</p>
  </div>
  <div class="col-12 col-sm">
    <h3>Join our Community</h3>
    <br/>
    <p>Be part of a community of creative artists and start your own portfolio.</p>
  </div>
</div>

</body>



















